<!DOCTYPE html>
<html>
<head>
	<title>displayAllQuestions</title>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>

<br/>

{{#each question_list}}
<b>  {{question_id}}. {{question_text}} </b>
  <br/>
  {{#if contains_image}}
  <div align="center"> 
    <img alt="question picture" src="/images/{{image_url}}" height="200" width="100"> 
  </div>
  {{/if}}
  
  <br/>

  {{#options}}
    {{option_id}}. {{option_text}}
    <br/>
    {{#if contains_image}}
      <div align="center"> 
        <img alt="option picture" src="/images/{{image_url}}" height="200" width="100"> 
      </div>
      <br/>
    {{/if}}
  {{/options}}
  <hr/>
{{/each}}




</body>
</html>