<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form id="insertQuestion" name="insertQuestion" method="post" action="insertQuestion">
<!-- {{subject_list}}
{{topic_list}}
<hr/> -->

  Question: <br/>
  <textarea name="question_text" rows="4" cols="50"></textarea>
  <br/>



  <label for="subject_name">Subject: </label>
  <select name="subject_name">
    {{#each subject_list}}
      <option value={{subject_name}}> {{subject_name}}</option>
    {{/each}}
  </select>

  <br/>

  <label for="topic_name">Topic: </label>
  <select name="topic_name">
      {{#each topic_list}}
        <option value={{topic_name}}> {{topic_name}}</option>
      {{/each}}
  </select>
  <br/>

  <label for="question_marks">Question Marks: </label>
  <input name="question_marks" type="text"/>
  <br/>
  <br/>

  Options:
  <br/> 
  <label>1 : </label>
  <input name="options[]" type="text"/>
  <input name="correct[]" type="checkbox" value="1"/>
  <br/>
  <label>2 : </label>
  <input name="options[]" type="text"/>
  <input name="correct[]" type="checkbox" value="2"/>
  <br/>
  <label>3 : </label>
  <input name="options[]" type="text"/>
  <input name="correct[]" type="checkbox" value="3"/>
  <br/>
  <label>4 : </label>
  <input name="options[]" type="text"/>
  <input name="correct[]" type="checkbox" value="4"/>
  <br/>

  
  <input class="btn" type="submit" value="Insert" />
</form>

</body>
</html>